<span class = "right-half-login left">
  <div id="login-quote">"Another irrelavant quote goes here."</div>
</span>
<%= devise_error_messages! %>

<span class="left-half-login right">
<div class = "vertical-align-wrap">
  <div class = "uniride-title">UniRide</div>
  <div class = "container">
    <h2 class="login-title">Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name, html: {multipart: true})) do |f| %>

      <div class="row">
        <div class="three columns"><%= f.label :email, :style=>"text-align: right" %></div>
        <div class="eight columns"><%= f.email_field :email, autofocus: true, :class=>"u-full-width" %></div>
      </div>

      <div class="row">
        <div class="three columns"><%= f.label "First Name", :style=>"text-align: right" %></div>
        <div class="eight columns"><%= f.text_field :firstName, :class=>"u-full-width" %></div>
      </div>

      <div class="row">
        <div class="three columns"><%= f.label "Last Name", :style=>"text-align: right" %></div>
        <div class="eight columns"><%= f.text_field :lastName, :class=>"u-full-width" %></div>
      </div> 

      <div class="row">
        <div class="three columns"><%= f.label "Profile Photo", :style=>"text-align: right" %></div>
        <div class="eight columns"><%= f.file_field :avatar, :class=>"u-full-width" %></div>
      </div>

      <div class="row">
        <div class="three columns"><%= f.label :password, :style=>"text-align: right" %></div>
        <div class="eight columns">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", :class=>"u-full-width" %></div>
      </div>

      <div class="row">
        <div class="three columns"><%= f.label "Confirm", :style=>"text-align: right" %></div>
        <div class="eight columns"><%= f.password_field :password_confirmation, autocomplete: "off", :class=>"u-full-width" %></div>
      </div>

      <center><%= f.submit "Sign up", :class=>"button-primary"  %></center>
    <% end %>
    <span class="twelve columns line"></span>
    <%= link_to "Sign In", log_in_url, :class=>"button"%>
  </div>
</div>
</span>

