<body>
<span class="profile-info">
	<div class="profile-photo"></div>
	<div class="profile-name"><%= first_letter_uppercase current_user.firstName%> <%= current_user.lastName%></div>

	<div class="container">
		<div class="row">
			<div class="one-half column">
				<i class="fa fa-car" aria-hidden="true"></i> Trips<br>0
			</div>
			<div class="one-half column">
				<i class="fa fa-file-text-o" aria-hidden="true"></i> Posts<br><%= current_user.posts.count %>
			</div>
		</div>
	</div>

	<div class="rating">
		<i class="fa fa-star-o" aria-hidden="true"></i> 
		<i class="fa fa-star-o" aria-hidden="true"></i> 
		<i class="fa fa-star-o" aria-hidden="true"></i> 
		<i class="fa fa-star-o" aria-hidden="true"></i> 
		<i class="fa fa-star-o" aria-hidden="true"></i> 
	</div>
</span>

<div class="fixed-buttons-wrapper">
	<%= link_to '<i class="fa fa-plus-circle" aria-hidden="true"></i>'.html_safe, new_post_url, :class=>"fixed-button new"%>
	<%= link_to '<i class="fa fa-cogs" aria-hidden="true"></i>'.html_safe, edit_user_registration_path, :class=>"fixed-button config" %>
</div>


<div class="container profile" id="user-info">	
	<div class="row">
		<div class="four columns" id="profile">
			<span class="tab-button selected"><i class="fa fa-info" aria-hidden="true"></i> About</span>
		</div>
		<div class="four columns " id="posts">
			<span class="tab-button"><i class="fa fa-file-text-o" aria-hidden="true"></i> Posts</span>
		</div>
		<div class="four columns" id="trips">
			<span class="tab-button"><i class="fa fa-car" aria-hidden="true"></i> Trips</span>
		</div>
	</div>

	<span  class="divider"></span>
	
	<span id="content">
		<div class="row">
			<div id="show-info">
				<div class="row">
					First Name:  
					<%= @current_user.firstName%><br>
					Last Name:  
					<%= @current_user.lastName()%>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="post-info">
				<div class="row">
						These are your posts:
						<div class ="row">
								<% Post.where(:user_id => @current_user.id()).each do |p| %>
								<div> Title: <%= p.title %> </div><br>
								<div> Time Created: <%=p.created_at %></div>
								<div><%= link_to 'View Post', post_path(p) %> </div>
								<%end%>
						</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div id="trips-info">
				trips
			</div>
		</div>
	</span>

	<script type="text/javascript">
		$("#profile .tab-button").click(function() {
			$("#posts .tab-button").removeClass("selected");
			$("#trips .tab-button").removeClass("selected");
			$("#post-info").hide();
			$("#trips-info").hide();
			$("#show-info").show();
			$(this).addClass("selected");
		});
		$("#posts .tab-button").click(function() {
			$("#profile .tab-button").removeClass("selected");
			$("#trips .tab-button").removeClass("selected");
			$("#trips-info").hide();
			$("#show-info").hide();
			$("#post-info").show();
			$(this).addClass("selected");
		});

		$("#trips .tab-button").click(function() {
			$("#posts .tab-button").removeClass("selected");
			$("#profile .tab-button").removeClass("selected");
			$("#post-info").hide();
			$("#show-info").hide();
			$("#trips-info").show();
			$(this).addClass("selected");
		});
	</script>
</div>
</body>