
<section id="" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2><%= first_letter_uppercase current_user.firstName%> <%= current_user.lastName%></h2>
					</header>
					<form class="grid-form" method="post" action="#">
						<ul class="actions">
							<li>
							<%= link_to "New Post", new_post_url, :class=>"button special"%>
							</li>
							<li>
							<%= link_to "Edit", edit_user_registration_path, :class=>"button special" %>
							</li>
						</ul>
					</form>
				</div>
			</section>

<div class="container">	
		<div class="container" id="user-info">	
			<div class="row">
				<div class="four columns selected" id="profile">
					Profile
				</div>
				<div class="four columns" id="posts">
					Posts
				</div>
				<div class="four columns" id="trips">
					Trips
				</div>
			</div>
			
			<div class="row">
				<div id="show-info">
					<div class="row">
					  		<div>
					  			First Name:  
					  			<%= @current_user.firstName%>

					  		</div><br>
					  		<div>
					  			Last Name:  
					  			<%= @current_user.lastName()%>
					  		</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div id="show-info">
					<div class="row">
					  		These are your posts:
					  		<div class ="row">
									<% Post.where(:user_id => @current_user.id()).each do |p| %>
									<div> Title: <%= p.title %> </div><br>
									<div> Time Created: <%=p.created_at %></div>
									<div><%= link_to 'View Post', post_path(p) %> </div>
 									<%end%>
							</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div id="trips-info">
					
				</div>
			</div>

			<script type="text/javascript">
				$("#profile").click(function() {
					$("#posts").removeClass("selected");
					$("#trips").removeClass("selected");
					$("#post-info").hide();
					$("#trips-info").hide();
					$("#show-info").show();
					$(this).addClass("selected");
				});
				$("#posts").click(function() {
					$("#profile").removeClass("selected");
					$("#trips").removeClass("selected");
					$("#trips-info").hide();
					$("#show-info").hide();
					$("#post-info").show();
					$(this).addClass("selected");
				});

				$("#trips").click(function() {
					$("#posts").removeClass("selected");
					$("#profile").removeClass("selected");
					$("#post-info").hide();
					$("#show-info").hide();
					$("#trips-info").show();
					$(this).addClass("selected");
				});
			</script>
		</div>
</div>
</div>
