<body>

<!-- Banner -->

	<% if current_user %>
		<h2><span style="font-weight:bold"><%= first_letter_uppercase current_user.firstName%> <%= current_user.lastName%></span><br> Where do you want to go today?</p>
		<p><%= link_to "Post a Trip", new_post_url, :class=>"button special"%> <%= link_to "Look for a ride", search_path, :class=>"button special"%></p>
	<%end%>

	<%unless user_signed_in? %>
		<section class="home-half-bg">
			<div class = "uniride-title">UniRide</div>
		</section>

		<div class = "banner">
			<div class="actions">
				<span id="banner1-text">Create an account and get started.</span></br>
				<%= link_to "Log In", log_in_url, :class=>"button special"%>
				<%= link_to "Sign Up", sign_up_url, :class=>"button special"%>
			</div>
		</div>

		<section class="home-half-bg2"></section>
		<div class = "banner">
			<span id="banner1-text">Information with icons.</span></br>
		</div>
	<%end%>

	<section id="one" class="wrapper special">
			<% if current_user %>
				<ul class="actions">
				<li><%= link_to "Sign Out", destroy_user_session_path, :method=> :delete, :class=>"button special"%></li>	
			</ul>
			<%end%>
	</section>		


<!-- Footer -->

	<footer id="footer">
		<div class="copyright">
			&copy; Uniride.2017
		</div>
	</footer>
</body>