<%editing = false unless editing%>
<div class="container">
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :required=>true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description%>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, :required=>true %>
  </div>

  <%= f.fields_for :addresses do |address| %>
    <% if address.index==0 %>
      <h4>Source</h4>
    <%elsif address.index==1%>
      <h4>Destination</h4>
    <%else%>
      <h4>
      Detour - <%= address.index-1 %>
      </h4>
    <%end%>
    <%= render 'address_fields', f: address, init_field: true, editing: editing, i: address.index %>
  <% end %>
  <h5 class='links'>
    <%= link_to_add_association 'add detour', f, :addresses%>
  </h5>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>