<body style="padding-top: 15px">
<div class="feed-create-post">
  <p id="notice"><%= notice %></p>
  <%= link_to new_post_path, :action => 'go', :class=>"feed-link-tag" do %>
    <div class="feed-create-post-icon clickable"><i class="fa fa-car" aria-hidden="true"></i></div>
    <div class="feed-create-post-title">Create a Trip</div>
  <%end%>
</div>

<div class="container">
    <% @posts.each do |post| %>

      <% if post.user==current_user %>
        <div class="trip-options">
        <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_post_path(post), :style=>"margin-right: 20px;" %>
        <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"destroy" %> 
        </div>
      <%end%>
      <%= link_to post, :action => 'go', :class=>"trip-card clickable" do %>
        <div class="row name">
          <div class="one column"><span class="trip-uploader-photo"></span></div>
          <div class="five columns"><%= first_letter_uppercase post.user.firstName %> <%= first_letter_uppercase post.user.lastName %></div> 
          <div class="six columns"><%= time_ago_in_words(post.created_at) %> ago</div>
        </div>
        
        <% unless post.addresses.count > 2 %>
          <div class = "row path">
            <div class="three columns"><span class="trip-address source"><%=post.addresses.first.street%>, <%=post.addresses.first.city%></span></div>
            <div class="six columns">
              <div class="circle left"></div>
              <div class="circle right"></div>
              <div class="line"></div>
            </div>
            <div class="three columns"><span class="trip-address destination"><%=post.addresses.second.street%>, <%=post.addresses.second.city%></span></div>
          </div>
        <%else%>
          <div class = "row path">
            <div class="three columns"><span class="trip-address source"><%=post.addresses.first.street%>, <%=post.addresses.first.city%></span></div>
            <div class="two columns">
              <div class="circle left"></div>
              <div class="line"></div>
            </div>
            <div class="two columns middle">
              <%= pluralize(post.addresses.count-2, 'Detour') %>
            </div>
            <div class="two columns">
              <div class="circle right"></div>
              <div class="line right"></div>
            </div>
            <div class="three columns"><span class="trip-address destination"><%=post.addresses.second.street%>, <%=post.addresses.second.city%></span></div>
          </div>
        <% end %>

        <div class="row date"><%= post.date.to_formatted_s(:long) %>.</div>
      <% end %> 
    <% end %>
</div>

</body>